{{ define "tracker_footer" }}
    {{ if false }}
        <html lang="en">
        <body>
        <div>
    {{ end }}
    </div>
    <footer>
      
        <p>Made with ❤️ by <a href="https://github.com/topi314">topi314</a> <br /> Source code available on <a href="https://github.com/topi314/campfire-tools">GitHub</a></p>
    </footer>
    </body>
    </html>
{{ end }}
